body {
  font-family: Poppins, sans-serif;
  background-color: rgb(83, 114, 105);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/japan1-jpg.avif");
  background-repeat: no-repeat;
  background-size: cover;

  margin: auto;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  color: rgb(156, 54, 71);
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  color: white;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  color: white;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 0;
}

header a {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: rgb(156, 54, 71);
  color: white;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer {
  display: block;
  margin: auto;
  text-align: center;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
