body {
  font-family: Poppins, sans-serif;
  background-color: rgb(113, 153, 178);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/Japan-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  margin: auto;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  color: rgb(143, 36, 54);
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  color: white;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  color: white;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 0;
}

header a {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: rgb(143, 36, 54);
  color: white;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer {
  display: block;
  margin: auto;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/japan1-jpg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

footer p {
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
